
@import "../purewhite/index_box.css";

.index_box {
    justify-content:center;
    align-items:center;
    width: 70%;
    margin: 25px 15% 25px 15%;
    top: 0;
}

.index_box .title {
    padding: 10px 10% 1px 10%;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
}

.index_box .request-name, .index_box .marshmello-name {
    width: 100%;
    margin-top: 36px;
    font-size: 24px;
    padding: 4px 12px 4px 12px;
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
}

.index_box .honey {
    resize: vertical;
    width: 100%;
    margin-top: 36px;
    font-size: 24px;
    padding: 4px 12px 4px 12px;
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
}

.index_box .sendbtn {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 4px 12px 4px 12px;
    background-color: rgba(225, 238, 255, 0.7);
    font-size: 24px;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}
.index_box .sendbtn:active {
    background-color: rgba(225, 238, 255, 255);
    transition: all 0.1s;
}