* {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

html { height: 100%; overflow: auto; }




.clear {
    clear: both;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-left-12 {
    margin-left: 12%;
}

.margin-left-10 {
    margin-left: 10%;
}
.margin-right-10 {
    margin-right: 10%;
}

.margin-left-15 {
    margin-left: 15%;
}
.margin-right-15 {
    margin-right: 15%;
}

.span-width20 {
    width: 20%;
}

.span-width80 {
    width: 80%;
}

.placer {
    height: 1px;
    width: 1px;
}
