
.header_box {
    width: 100%;
}

.header_box .container .title {
    width: 100%;
}

.header_box .container .title a {
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
}

.header_box .container .title a:hover {
    color: rgba(99, 107, 111, 0.7);
    transition: all 0.2s;
}

.header_box .container {
    widows: 100%;
}

.tagbox .category, .tagbox .timetag {
    margin: 1px 1em 1px 1em;
    font-size: 18px;
    font-family: 'Source Han Serif CN', 'Source Han Sans CN', 'Source Han Serif SC', 'Microsoft YaHei' ,'-apple-system', 'SF UI Display', 'Arial',
    'PingFang SC', 'Hiragino Sans GB' , 'WenQuanYi Micro Hei', sans-serif;
}
